/* @color1: #7F7EFF; */
/* @color2: #A390E4; */
/* @color3: #C69DD2; */
/* @color4: #CC8B8C; */
/* @color5: #C68866; */

body{
  background-color: #C69DD2;
}
.topic{
  background-color: #7F7EFF;
  color: white;
  margin: 5px;
  border: 2px solid white;
  padding: 10px;
  box-shadow: 2px 2px 2px black;

}
#images{
	position: fixed;
	text-align: center;
}
.row{
	margin: 10px;
}
.rating{
	margin-top: 10px;
	font-weight: bold;
}
.window{
	padding: 20px;
	background-color: white;
	border-radius: 20px;
	margin: 20px;
	width: 240px;
	box-shadow: 2px 2px 2px black;
	text-align: center;
	position: relative;
}
form{
	padding: 20px;
	background-color: #A390E4;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	box-shadow: 2px 2px 2px black;
	text-shadow: 2px 2px 2px black;

}
label{
	font-size: 125%;
}